# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Environment & cache
.env
__pycache__/
*.pyc
.DS_Store
logs/

# Virtual environment
venv/
medibot/
Lib/
medibot/Lib/
rag/Lib/
.venv/

# file
application_ref_copy.py/